body{

    background-color: #ebfff8 ;
    color: rgb(19, 19, 19) ;
}

nav a{

    font-size: 1.3em;
    color: #001310;
}

.logo{

    color: #FF892D;
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;

}

.logo-2{
    color: #0cd1a0

}
.searchbar{

    text-align: center;

}

.main-content{

    margin-top: 115px;
}

.navbar{

    background-color: #ffecdb;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.post{
    background-color : rgb(240, 250, 255);
    border-radius : 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.post:hover{
    border: 1px solid;
    border-color: rgb(138, 98, 63);
    box-shadow: 2px 2px 1px grey;
}

.article-img{
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.post-title{

    color:rgb(19, 19, 19);
    font-weight: bold;
}

.donate-btn{

    margin-top: 10px;
    width: 70px;
    height: 30px;
    padding: 2px;
    font-size: 15px;   
}