 {% extends "layout.html" %}
 {% block content %}
   {% for post in posts %}
      <article class="media content-section post">
         <div class="media-body">
            <p class="mr-2" href="#">{{ post.author }}</p><small class="text-muted float-right ">{{ post.date_posted|date:"F d, Y" }}</small>
            <h4><a class="article-title post-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
            <p class="post-content">{{ post.content }} </p>
            <div class="article-metadata">
               <span class="text-secondary ">Total Donation required : </span><span class="font-weight-bold">Rs.{{ post.target_amt}}</span>
               <span class="float-right">Donation Received : Rs.{{ post.curr_amt }}</span>
            </div> 
            {% if user.is_authenticated %}
               <a href="{% url 'transfer' post.id %}" class="btn btn-success donate-btn">Donate</a>
            {% endif %}
         </div>
      </article>
   {% endfor %}
 {% endblock content  %}