 {% extends "layout.html" %}
 {% block content %}

   <article class="media content-section post">
      <div class="media-body">
         <a class="mr-2" href="#">username</a><small class="text-muted ">1 hr ago</small>
         <h4><a class="article-title blog-title" href="#">Post title</a></h4>
         <p class="post-content">lorem ipsum sjhfudhsn bahyshdj hsjasb jsha jshajhsb 
            sksjdsand 
         </p>
         <div class="article-metadata">
            
         </div>
         
      </div>
   </article>

 {% endblock content  %}